@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.compare-drawer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: $full;
  padding: 0 20px 20px;
  background: $bb-white;
  border-top: 1px solid $bb-gray;
  box-shadow: 0 -1px 2px rgba(0,0,0,0.1);
  transform: translateY(200px);
  z-index: 2;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;

  @include breakpoint($bp-760) {
    flex-wrap: nowrap;
    padding: 20px;
  }

  &.compare-drawer--has-item {
    transform: translateY(0);
  }

  &.compare-drawer--hidden {
    transform: translateY(200px);
  }

  h3 {
    width: $full;

    text-align: center;

    @include breakpoint($bp-760) {
      width: auto;
      margin-right: 40px;
    }
  }
}

.compare-drawer__character-slot {
  width: calc(50% - 20px);
  padding: 10px;
  margin-right: 20px;
  border: 1px solid $bb-gray;
  min-height: 75px;

  @include breakpoint($bp-760) {
    width: auto;
    min-width: 250px;
  }
}

.compare-drawer__container {
  display: flex;
  align-items: center;
}

.compare-drawer__image {
  display: inline-block;
  width: 40px;
}

.compare-drawer__name {
  flex: 1;

  text-align: center;
  text-transform: uppercase;
}

.compare-drawer__button {
  width: 150px;
  margin-top: 15px;

  @include breakpoint($bp-760) {
    margin-top: 0;
  }
}
