// Breakpoints
$bp-1600: 1600px; // xl desktop
$bp-1260-1599: 1260px 1599px;
$bp-1260: 1260px; // (deprecated use large desktop)
$bp-1200: 1200px; // large desktop
$bp-1200-1259: 1200px 1259px;
$bp-960-1259: 960px 1259px;
$bp-960-1199: 960px 1199px;
$bp-960: 960px; // desktop
$bp-760-1259: 760px 1259px;
$bp-760-1199: 760px 1199px;
$bp-760-959: 760px 959px;
$bp-760: 760px; // tablet
$bp-450-1199: 450px 1199px;
$bp-450-959: 450px 959px;
$bp-450-759: 450px 759px;
$bp-450: 450px; // mobile
$bp-375: 375px; // iphone 6
$bp-320: 320px; // iphone 5
$bp-0-1259: max-width 1259px;
$bp-0-1199: max-width 1199px;
$bp-0-959: max-width 959px;
$bp-0-759: max-width 759px;
$bp-0-449: max-width 449px;

// Percentages
$full: 100%;
$quarter: $full / 4;
$three-quarters: $quarter * 3;
$half: $full / 2;
$third: $full / 3;
$two-thirds: $third * 2;

// Viewport Sizes
$full-vp-height: 100vh;
$three-quarters-vp-height: 75vh;
$half-vp-height: 50vh;
$quarter-vp-height: 25vh;
$third-vp-height: 33.33333vh;
$full-vp-width: 100vw;
$three-quarters-vp-width: 75vw;
$half-vp-width: 50vw;
$quarter-vp-width: 25vw;
$third-vp-width: 33.33333vw;
