@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.character-card__image,
.character-profile__image {
  img {
    display: block;
    width: $full;
  }
}

.character-card,
.character-profile {
  .character-card__compare {
    margin: 40px 0;
  }
}

.character-card {
  width: $full;
  padding: 0 10px;
  margin-bottom: 40px;

  @include breakpoint($bp-450) {
    width: $half;
  }

  @include breakpoint($bp-960) {
    width: $quarter;
  }

  &.character-card--selected {
    .character-card__check {
      display: block;
    }
  }

  a {
    color: $bb-black;
    text-decoration: none;
  }

  .btn {
    width: $full;
  }
}

.character-card__image {
  position: relative;
}

.character-card__check {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: $full;
  height: $full;
  background: rgba(0,0,0, 0.7);

  img {
    position: absolute;
    top: $half;
    left: $half;
    width: $quarter;
    height: $quarter;
    transform: translate(-$half, -$half);
  }
}

.character-profile {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-760) {
    flex-direction: row;
  }
}

.character-profile__image {
  width: $full;
  margin-bottom: 20px;

  @include breakpoint($bp-760) {
    width: $third;
  }
}

.character-profile__aside {
  width: $full;
  padding: 0 20px;

  @include breakpoint($bp-760) {
    width: $two-thirds;
  }
}

.character-profile__name {
  margin: 0;

  text-align: center;
  text-transform: uppercase;
}

.character-profile__meta {
  padding: 20px 0;
  border-bottom: 1px solid $bb-light-gray;

  text-align: center;

  > span {
    margin-right: 10px;
  }
}

.character-profile__stats {
  h3 {
    padding: 20px;
    margin: 0;
    background: $bb-gray;

    text-align: center;
  }

  table {
    width: $full;
    border-collapse: collapse;
  }

  tr {
    border-bottom: 1px solid $bb-gray;

    &:nth-child(even) {
      background: $bb-light-gray;
    }
  }

  td {
    padding: 20px;
    width: $half;

    &:nth-child(odd) {
      text-align: right;
    }

    &:nth-child(even) {
      text-align: left;
    }

    &.power-name {
      border-right: 1px solid $bb-gray;

      text-transform: capitalize;
    }
  }
}
