@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../styles/variables.scss';

.character-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 60px;
}

.character-card__image {
  @include breakpoint($bp-760) {
    min-height: 350px;
  }

  @include breakpoint($bp-960) {
    min-height: 500px;
  }
}
