@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.header {
  position: fixed;
  background: $bb-black;
  top: 0;
  left: 0;
  width: $full;
  height: 70px;
  z-index: 2;

  color: $bb-white;
  text-align: center;
}

.header__logo {
  a {
    color: $bb-white;
    text-decoration: none;
  }
}

.header__menu-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  @include breakpoint($bp-760) {
    display: none;
  }

  img {
    width: $full;
  }
}
