@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.compare {
  padding: 40px 0 80px;
}

.compare__container {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-760) {
    flex-direction: row;
  }
}

.character-section {
  width: $full;

  @include breakpoint($bp-760) {
    width: $half;
    padding: 0 10px;
  }

  .character-section__title {
    display: block;
    font-size: 1.5em;
  }

  .character-profile {
    flex-direction: column;

    @include breakpoint($bp-960) {
      flex-direction: row;
    }
  }

  .character-profile__image {
    width: $full;
    padding: 0 10px;

    @include breakpoint($bp-960) {
      width: 100px;
      padding: 0;
    }
  }

  .character-profile__aside {
    width: $full;

    @include breakpoint($bp-960) {
      flex: 1;
      width: $two-thirds;
    }
  }
}

.character-section__placeholder {
  padding: 20px;

  h3 {
    color: $bb-black;
    text-align: center;
  }
}
