@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import './views/styles/variables.scss';
@import './views/styles/normalize.scss';
@import './views/styles/colors.scss';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Proxima Nova", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
}

.content {
  padding: 0 20px;
  margin-top: 70px;

  @include breakpoint($bp-760) {
    position: absolute;
    top: 70px;
    left: 250px;
    bottom: 0;
    right: 0;
    margin: 0;
    height: 100%;
  }
}

.btn {
  display: block;
  background: $bb-blue;
  border: 0;
  padding: 10px 20px;
  cursor: pointer;

  color: $bb-white;
  font-size: .75em;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.title--callout {
  width: $full;
  padding-bottom: 20px;
  border-bottom: 1px solid $bb-gray;
  margin-bottom: 20px;

  text-align: center;
}
