@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../styles/variables.scss';

.dashboard {
  .loader {
    position: absolute;
    top: $half;
    left: $half;
    transform: translate(-$half, -$half);
  }
}

.dashboard__title {
  padding-top: 20px;

  @include breakpoint($bp-760) {
    padding-top: 0;

    font-size: 3em;
  }
}
