@import '~breakpoint-sass/stylesheets/_breakpoint.scss';
@import '../../styles/variables.scss';
@import '../../styles/colors.scss';

.navigation {
  display: none;
  position: fixed;
  top: 70px;
  left:0;
  width: $full;
  height: $full;
  background: $bb-white;
  z-index: 1;

  text-align: center;

  @include breakpoint($bp-760) {
    display: block;
    border-right: 1px solid $bb-gray;
    width: 250px;

    text-align: left;
  }

  &.navigation--open {
    display: block;
  }
}

.navigation__list {
  list-style: none;
  height: $full;
  padding: 40px 0;
  margin: 0;
}

.navigation__list-heading {
  width: $full;
  margin-bottom: 10px;
  padding: 10px 20px;

  font-size: 1.25em;
  text-transform: uppercase;

  @include breakpoint($bp-760) {
    font-size: .85em;
  }
}

.navigation__list-item {
  a {
    display: block;
    padding: 10px 20px;
    margin-bottom: 10px;

    color: $bb-blue;
    font-size: 1.25em;
    text-decoration: none;

    @include breakpoint($bp-760) {
      font-size: 1em;
    }
  }
}
